{% load compress %}
{% load static %}
{% load user_extras %}
<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="{% static 'assets/icons/icon-48x48.png' %}" sizes="48x48">
        <link rel="icon" type="image/png" href="{% static 'assets/icons/icon-72x128.png' %}" sizes="72x72">
        <link rel="icon" type="image/png" href="{% static 'assets/icons/icon-96x96.png' %}" sizes="96x96">
        <link rel="icon" type="image/png" href="{% static 'assets/icons/icon-128x128.png' %}" sizes="128x128">
        <link rel="icon" type="image/png" href="{% static 'assets/icons/icon-152x152.png' %}" sizes="152x152">
        <link rel="icon" type="image/png" href="{% static 'assets/icons/icon-192x192.png' %}" sizes="192x192">
        <link rel="icon" type="image/png" href="{% static 'assets/icons/icon-384x384.png' %}" sizes="384x384">
        <link rel="icon" type="image/png" href="{% static 'assets/icons/icon-512x512.png' %}" sizes="512x512">
        <link rel="icon" type="image/png" href="{% static 'assets/icons/icon-144x144.png' %}" sizes="144x144">

        <title>{% block title %} {% if page_title %}{{page_title}}{% else %} {% site_name %}{% endif %} {% endblock %}
        </title>
        <meta name="description"
            content="Efficiently manage your medical equipment maintenance with our cutting-edge planning software. Stay on top of maintenance schedules and minimize downtime with our user-friendly and customizable platform. Simplify your operations and ensure your equipment is always in top condition with our innovative solution.">
        <meta name="keywords"
            content="medical equipment maintenance,memplas maintenance planning software,memplas,medical equipment maintenance schedules,medical equipment minimize downtime, user-friendly medical equipment maintenance planning system, customizable, innovative solution for medical equipment maintennace planning">
        <meta name="author" content="MEMPLAS">
        <meta name="robots" content="index, follow">

        {% compress css %}
        <link rel="stylesheet" href="{% static 'src/output.css' %}">
        {% endcompress %}

        <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.1/dist/flowbite.min.css" />

        {% block extra_head %}
        {% endblock %}
    </head>

    <body style="font-family: sans-serif;" class="dark:bg-gray-900 w-screen overflow-x-hidden">

        {% block body %}
        {% load user_extras %}


        {% if messages %}
        <div class="p-4 mb-4 text-sm text-yellow-700 bg-yellow-100 rounded-lg dark:bg-yellow-200 dark:text-yellow-800"
            role="alert">
            {% for message in messages %}
            <span class="font-medium"></span> {{ message }}
            {% endfor %}
        </div>
        {% endif %}

        <div class="h-full w-full  overflow-x-hidden flex flex-col items-center justify-center">

            <div
                class="flex-col  items-center justify-center h-full w-full p-4 bg-white rounded-lg sm:p-6 lg:p-8 dark:bg-gray-800 ">

                {% block content %}
                {% endblock %}
            </div>
        </div>


        {% endblock %}

        {% block extra_body %}
        {% endblock %}

        <script src="https://unpkg.com/flowbite@1.5.1/dist/flowbite.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        {% block scripts %} {% endblock %}

    </body>

</html>