{% extends "account/base.html" %}
{% comment %} {% extends 'dashboard/base.html' %} {% endcomment %}



{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}
{% comment %} 
{% block content %}

{% load user_extras %}

<h1 class="text-xl font-bold mb-3"></h1>
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}

<p class="text-md mb-3">
    {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
</p>

<form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">

    {% csrf_token %}

    {% if form.errors %}
    <div class="p-4 mb-4 text-sm text-yellow-700 bg-yellow-100 rounded-lg dark:bg-yellow-200 dark:text-yellow-800"
        role="alert">
        <span class="font-medium">{{ form.errors }}</span>
    </div>
    {% endif %}

    <div class="w-full">
        <label for="email"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{ form.email.label }}</label>
        {{ form.email | add_class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" }}
    </div>


    <button
        class=" text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mt-3 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        type="submit">{% trans 'Reset my password' %} &raquo;</button>

</form>

{% endblock %} {% endcomment %}



{% block content %}

{% include 'components/_breadcrumbs.html' %}
{% load user_extras %}

<div class="w-full flex items-center justify-center p-4" style="padding-top: 60px">

    {% load user_extras %}

    <div class=" max-w-sm mx-auto w-full ">

        <div class="w-full shadow-md bg-white dark:bg-gray-800 dark:border-gray-700">

            <form method="POST" enctype="multipart/form-data">
                <div class="py-4 px-4 bg-blue-500 text-white font-medium border-b border-t text-center  uppercase">
                    {% trans "Password Reset" %}</div>
                <div class="p-4 ">
                    <!-- Security token -->
                    {% csrf_token %}

                    <!-- Using the formset -->
                    <!--form field errors block-->
                    {% include 'components/forms/_formfield.html' %}

                    <div class="flex justify-end flex-col space-y-4 sm:space-y-0 sm:flex-row ">

                        {% include 'components/buttons/_action_form_button.html' with action_name="SUBMIT" %}

                    </div>
                    <p class="text-sm font-normal py-4 ">{% blocktrans %}Please contact us if you have any trouble
                        resetting your password.{% endblocktrans %}</p>

                </div>
            </form>

        </div>
    </div>


</div>



{% endblock %}
{% block js %}
{{ block.super }}
{{ form.media }}
{% endblock %}