{% extends 'dashboard/base.html' %}
{% block content %}

{% include 'components/_breadcrumbs.html' %}
{% load user_extras %}

<div class="w-full flex items-center justify-center p-4" style="padding-top: 60px">

    {% load user_extras %}

    <div class=" max-w-sm mx-auto w-full ">

        <div class="w-full shadow-md bg-white dark:bg-gray-800 dark:border-gray-700">

            <form autocomplete="off" method="POST" enctype="multipart/form-data">
                <div class="py-4 px-4 bg-blue-500 text-white font-medium border-b border-t text-center  uppercase">new
                    {{form|get_name}}</div>
                <div class="p-4 ">
                    <!-- Security token -->
                    {% csrf_token %}

                    <!-- Using the formset -->
                    <!--form field errors block-->
                    {% include 'components/forms/_formfield.html' %}

                    <div class="flex justify-end flex-col space-y-4 sm:space-y-0 sm:flex-row {% if related_urls %}justify-between{% endif %}">
                        {% for key,value in related_urls.items %}
                        
                        {% include "components/buttons/_reference_add_button.html" with reference_name=key url_name=value %}
                        {% endfor %}

                        {% include 'components/buttons/_action_form_button.html' with action_name="SUBMIT" %}

                    </div>
                </div>
            </form>

        </div>
    </div>


</div>



{% endblock %}